# CSC111 Winter 2021: Python libraries we'll be using this semester.

# Testing and code checking
hypothesis~=6.0.1
pytest~=6.2.1
python-ta~=1.6.3

# Graphics and data visualization
plotly~=5.10.0
networkx~=2.5
dash~=2.6.2
dash-core-components~=2.0.0
dash-html-components~=2.0.0
dash-renderer~=1.9.1
dash-table~=5.0.0
tenacity~=8.1.0